.layout {
  display: grid;
  grid-template-rows: 11fr 1fr;
  height: 100vh;
}

.content {
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

.navbar {
  /* background-color: orange; */
  height: 100%;
  width: 100%;
  text-align: end;
}

.main {
  /* background-color: lightgray; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.footer {
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


/* ejemplo solo para poder ver si en telefono se desactiva el navbar */
@media screen and (max-width: 480px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  
  
  .navbar {
    display: none;
  }
}
