/* Media Query: Móbiles Pequeños 320p */
.layout {
  display: grid;
  grid-template-rows: 10fr 2fr;
  height: 100dvh;
}
.content {
  /* display: grid; */
  /* grid-template-rows: 1fr 11fr; */
}
.navbar {
  /* display: none; */
}
.footer {
  /* height: 100%; */
}

/* Media Query: Móbiles Grandes 480p */
@media screen and (min-width: 480px) {
}

/* Media Query: Tablets 768p */
@media screen and (min-width: 768px) {
}

/* Media Query: Laptops 1024p */
@media screen and (min-width: 1024px) {
  .layout {
    display: grid;
    grid-template-rows: 11fr 1fr;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
  }
  .navbar {
    display: inline;
    height: 100%;
    width: 100%;
    text-align: end;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

/* Media Query: Desktop FullHD 1280p */
@media screen and (min-width: 1280px) {
}

/* Media Query: Desktop Grandes 1440p o 1920p */
@media screen and (min-width: 1440px) {
}
