.layout {
  display: grid;
  grid-template-rows: 11fr 1fr;
  height: 100vh;
}

.content {
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

.navbar {
  /* background-color: orange; */
  height: 100%;
  width: 100%;
  text-align: end;
}

.main {
  /* background-color: lightgray; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.footer {
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* ====================================================== */
/* MEDIA QUERY: TABLET HORIZONTAL Y LAPTOP PEQUEÑA (< 1025px) */
/* ====================================================== */
@media screen and (max-width: 1024px) {
}

/* ====================================================== */
/* MEDIA QUERY: TABLET VERTICAL Y MÓVIL GRANDE (< 768px)  */
/* ====================================================== */
@media screen and (max-width: 768px) {
}

/* ====================================================== */
/* MEDIA QUERY: MÓVIL ESTÁNDAR Y PEQUEÑO (< 480px)        */
/* ====================================================== */
@media screen and (max-width: 480px) {
  .layout {
    display: grid;
    grid-template-rows: 11fr 1fr;
    height: 100vh;
  }
  .content {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .navbar {
    display: none;
  }
}
