/* Media Query: Móbiles Pequeños 320p */
.section {
  width: 100%;
  height: 100vh;
}
.space {
  display: none;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
  height: 100%;
}
.concepts {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  transition: box-shadow 0.3s ease;
  display: block;
}
.concept {
  object-fit: cover;
}

/* Media Query: Móbiles Grandes 480p */
@media screen and (min-width: 480px) {
}

/* Media Query: Tablets 768p */
@media screen and (min-width: 768px) {
}

/* Media Query: Laptops 1024p */
@media screen and (min-width: 1024px) {
}

/* Media Query: Desktop FullHD 1280p */
@media screen and (min-width: 1280px) {
}

/* Media Query: Desktop Grandes 1440p o 1920p */
@media screen and (min-width: 1440px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    height: 100%;
  }
  .space {
    display: inline;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }
  .concepts {
    position: relative;
    width: 30%;
    height: 20%;
    overflow: hidden;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease;
    display: block;
  }

  .concepts:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    z-index: 10;
  }

  .concept {
    object-fit: cover;
  }
}
