.section {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 100%;
  width: 100%;
}

.space {
  /* background-color: lightpink; */
}

.content {
  /* background-color: lightgreen; */
  display: flex;
  flex-wrap: wrap;
  /* flex-wrap: nowrap; */
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.concepts {
  position: relative;
  width: 30%;
  height: 20%;
  overflow: hidden;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  transition: box-shadow 0.3s ease;
  display: block;
}

.concepts:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.concept {
  object-fit: cover;
}
