.link {
  padding: 0.5rem;
  color: #303030;
  transition: transform 0.3s ease;
  display: block;
}
.link:hover {
  transform: scale(1.05);
  z-index: 10;
}
.active-link {
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-size: 48px;
}
