/* Media Query: Móbiles Pequeños 320p */
.navbar {
  /* background-color: aquamarine; */
  /* display: flex; */
  /* justify-content: space-between; */
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 100%;
  margin: 0 0.5rem;
  align-items: center;
}
.navbar::after {
  background-color: black;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.artistName {
  font-size: 32px;
}
.sections {
  display: none;
  font-size: 24px;
}
.space {
  display: flex;
  justify-content: end;
}

/* Media Query: Móbiles Grandes 480p */
@media screen and (min-width: 480px) {
}

/* Media Query: Tablets 768p */
@media screen and (min-width: 768px) {
}

/* Media Query: Laptops 1024p */
@media screen and (min-width: 1024px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0;
    position: relative;
  }
  .navbar::after {
    background-color: black;
    content: "";
    position: absolute;
    width: 1px;
    top: 7.5%;
    left: 100%;
    height: 85%;
  }
  .title {
    font-weight: bold;
    text-align: center;
  }
  .artistName {
    font-size: 64px;
    transition: transform 0.3s ease;
    display: block;
  }
  .artistName:hover {
    transform: scale(1.05);
    z-index: 10;
  }
  .sections {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    gap: 1rem;
    width: 100%;
    justify-content: center;
  }
  .close {
    display: none;
  }
}

/* Media Query: Desktop FullHD 1280p */
@media screen and (min-width: 1280px) {
}

/* Media Query: Desktop Grandes 1440p o 1920p */
@media screen and (min-width: 1440px) {
}
