/* Media Query: Móbiles Pequeños 320p */
.navbar {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 100%;
  margin: 0rem 0.5rem;
  align-items: center;
}
.navbar::after {
  background-color: black;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.artistName {
  font-size: 32px;
}
.sections {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  text-align: end;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
  font-size: 40px;
  justify-content: space-around;
  padding: 0;
}
.sections.active {
  height: 50dvh;
}
.sections.active::after {
  background-color: black;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.close {
  display: flex;
  justify-content: flex-end;
}

/* Media Query: Móbiles Grandes 480p */
@media screen and (min-width: 480px) {
}

/* Media Query: Tablets 768p */
@media screen and (min-width: 768px) {
}

/* Media Query: Laptops 1024p */
@media screen and (min-width: 1024px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0;
    position: relative;
  }
  .navbar::after {
    background-color: black;
    content: "";
    position: absolute;
    width: 1px;
    top: 7.5%;
    left: 100%;
    height: 85%;
  }
  .title {
    font-weight: bold;
    text-align: center;
  }
  .artistName {
    font-size: 96px;
    transition: transform 0.3s ease;
    display: block;
  }
  .artistName:hover {
    transform: scale(1.05);
    z-index: 10;
  }
  .sections {
    position: static;
    height: 100%;
    transition: none;
    flex-direction: column;
    font-size: 40px;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    overflow: visible;
    background-color: transparent;
  }
  .sections.active {
    height: 100%;
    padding: 0;
  }
  .close {
    display: none;
  }
}

/* Media Query: Desktop FullHD 1280p */
@media screen and (min-width: 1280px) {
}

/* Media Query: Desktop Grandes 1440p o 1920p */
@media screen and (min-width: 1440px) {
}
