/* Media Query: Móbiles Pequeños 320p */
.intro {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 32px;
  height: 100dvh;
  background-color: aqua;
}

/* Media Query: Móbiles Grandes 480p */
@media screen and (min-width: 480px) {
  .intro {
    font-size: 36px;
    background-color: red;
  }
}

/* Media Query: Tablets 768p */
@media screen and (min-width: 768px) {
  .intro {
    font-size: 48px;
    background-color: green;
  }
}

/* Media Query: Laptops 1024p */
@media screen and (min-width: 1024px) {
  .intro {
    font-size: 64px;
    height: 100vh;
    background-color: yellow;
  }
}

/* Media Query: Desktop FullHD 1280p */
@media screen and (min-width: 1280px) {
  .intro {
    font-size: 96px;
    background-color: blue;
  }
}

/* Media Query: Desktop Grandes 1440p o 1920p */
@media screen and (min-width: 1440px) {
  .intro {
    background-color: pink;
  }
}
