/* Media Query: Móbiles Pequeños 320p */
.footer {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  gap: 1rem;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 100%;
}
.footer:before {
  background-color: black;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.logoContainer {
  display: flex;
  align-self: center;
}
.logo {
  width: 20;
  height: 20;
  transition: transform 0.3s ease;
  display: block;
}
.logo:hover {
  transform: scale(1.05);
  z-index: 10;
}
.copyright {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  align-self: center;
}
.links {
  display: flex;
  justify-content: end;
  gap: 2rem;
  align-items: center;
}
.socialLink {
  transition: transform 0.3s ease;
  display: block;
}
.socialLink:hover {
  transform: scale(1.05);
  z-index: 10;
}
.iconSize {
  width: 20;
  height: 20;
}

/* Media Query: Móbiles Grandes 480p */
@media screen and (min-width: 480px) {
}

/* Media Query: Tablets 768p */
@media screen and (min-width: 768px) {
}

/* Media Query: Laptops 1024p */
@media screen and (min-width: 1024px) {
  .footer {
    /* background-color: #a760ff; */
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: 100%;
    height: 100%;
  }
  .footer:before {
    background-color: white;
  }
  .logoContainer {
    display: flex;
    text-align: left;
    align-self: center;
    margin-left: 3rem;
  }
  .logo {
    width: 25;
    height: 25;
    transition: transform 0.3s ease;
    display: block;
  }
  .logo:hover {
    transform: scale(1.05);
    z-index: 10;
  }
  .copyright {
    font-size: 10px;
    align-self: center;
  }
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 3rem;
  }
  .socialLink {
    transition: transform 0.3s ease;
    display: block;
  }
  .socialLink:hover {
    transform: scale(1.05);
    z-index: 10;
  }
  .iconSize {
    width: 25;
    height: 25;
  }
}

/* Media Query: Desktop FullHD 1280p */
@media screen and (min-width: 1280px) {
  .links {
    margin-right: 2rem;
  }
}

/* Media Query: Desktop Grandes 1440p o 1920p */
@media screen and (min-width: 1440px) {
  .links {
    margin-right: 0;
  }
}
