/* Media Query: Móbiles Pequeños 320p */
.section {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.space {
  /* background-color: bisque; */
  height: 10%;
  /* display: none; */
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0rem 0.5rem;
  height: 100%;
}
.title {
  font-size: 48px;
}
.player {
  border: 1px solid;
  overflow: hidden;
  border-radius: 0.5rem;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 32px;
}

/* Media Query: Móbiles Grandes 480p */
@media screen and (min-width: 480px) {
}

/* Media Query: Tablets 768p */
@media screen and (min-width: 768px) {
}

/* Media Query: Laptops 1024p */
@media screen and (min-width: 1024px) {
}

/* Media Query: Desktop FullHD 1280p */
@media screen and (min-width: 1280px) {
}

/* Media Query: Desktop Grandes 1440p o 1920p */
@media screen and (min-width: 1440px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100%;
    width: 100%;
  }
  .space {
    display: inline;
    height: 100%;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
  }
  .title {
    width: 100%;
    font-size: 48px;
  }
  .links {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    font-size: 32px;
    width: 100%;
  }
  .navLink {
    transition: transform 0.3s ease;
    display: block;
  }
  .navLink:hover {
    transform: scale(1.05);
    z-index: 10;
  }
}
