/* Media Query: Móbiles Pequeños 320p */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.space {
  height: 10%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem 0.5rem;
  height: 100%;
}
.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 4rem;
  justify-content: space-evenly;
  font-size: 24px;
}
.socialLogo {
  width: 100px;
  height: 100px;
}

/* Media Query: Móbiles Grandes 480p */
@media screen and (min-width: 480px) {
}

/* Media Query: Tablets 768p */
@media screen and (min-width: 768px) {
}

/* Media Query: Laptops 1024p */
@media screen and (min-width: 1024px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .space {
    height: 100%;
  }
  .content {
    margin: 0rem 1rem;
    gap: 2rem;
  }
  .logo {
    flex-wrap: nowrap;
    gap: initial;
    justify-content: space-between;
    font-size: 32px;
  }
  .socialLink {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 0.3s ease;
  }
  .socialLink:hover {
    transform: scale(1.05);
    z-index: 10;
  }
  .socialLogo {
    width: 125px;
    height: 125px;
  }
}

/* Media Query: Desktop FullHD 1280p */
@media screen and (min-width: 1280px) {
}

/* Media Query: Desktop Grandes 1440p o 1920p */
@media screen and (min-width: 1440px) {
}
